<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>众包平台</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../../css/carousel.css" rel="stylesheet">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axios  -->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/index.js"></script>


    <style type="text/css">

      .linear{

        width:15px;

        height:30px;

        FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/

        background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */

        background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*火狐*/

        background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*谷歌*/

        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/

        background: -webkit-linear-gradient(top, #fff, #56ff0066);   /*Safari5.1 Chrome 10+*/

        background: -o-linear-gradient(top, #fff, #0000ff);  /*Opera 11.10+*/

        float:left;

        border-bottom: 1px solid #000;
      }

      .block{
        width:15px;

        height:30px;

        background:white;

        float:left;

        border-bottom: 1px solid #000;
      }

    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div id="app">
    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider" style="margin-bottom: 10px">
      <el-row>
                <el-row>
                  <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>工人录入</span>
                      <el-button style="float: right; padding: 3px 0" type="text" @click="workerDialogFormVisible = true">添加工人</el-button>
                    </div>
                    <el-table
                            :data="userData"
                            style="width: 100%"
                            max-height="250">
                      <el-table-column
                              fixed
                              prop="id"
                              label="id"
                              width="80">
                      </el-table-column>
                      <el-table-column
                              prop="nickname"
                              label="昵称"
                              width="150">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.nickname}}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                              prop="workTime"
                              label="活跃时间"
                              show-overflow-tooltip
                              min-width="200">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ getTimeStrByBits(scope.row.workTime)}}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                              prop="skillMap"
                              label="技能水平"
                              show-overflow-tooltip
                              min-width="200">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.skillMap}}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                              label="操作"
                              width="200">
                        <template slot-scope="scope">
                          <el-button
                                  size="medium"
                                  @click="handleUserEdit(scope.$index, scope.row)">编辑</el-button>
                          <el-button
                                  size="medium"
                                  type="danger"
                                  @click="handleUserDelete(scope.$index, scope.row)">删除</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </el-card>
                </el-row>
                <el-card>
                  <div slot="header" class="clearfix">
                    <span>任务列表</span>
                    <el-button style="float: right; padding: 3px 0" type="text" @click="addTask">添加任务</el-button>
                  </div>
                  <template v-for="task in tasks">
                    <el-row :gutter="20">
                      <el-col :span="10">
                        <el-card>
                          <div slot="header" class="clearfix">
                            <span>任务信息</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="confTask(task)">配置</el-button>
                            <div> id:<el-tag size="medium">{{ task.id}}</el-tag>
                              阈值g:<el-tag type="success" size="medium">{{task.g}}</el-tag>
                              开发语言:<el-tag size="medium" type="warning">{{ task.skill}}</el-tag>
                              <!--协同因子:<el-tag size="medium" type="info">{{ task.alpha}}</el-tag>-->
                            </div>
                          </div>
                          <el-table
                                  :data="task.models"
                                  style="width: 100%"
                                  max-height="250">
                            <el-table-column
                                    fixed
                                    prop="id"
                                    label="id"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="complexity"
                                    label="复杂度"
                                    width="80">
                              <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                  <el-tag size="medium">{{ scope.row.complexity}}</el-tag>
                                </div>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    fixed="right"
                                    label="操作"
                                    width="200">
                              <template slot-scope="scope">
                                <el-button
                                        size="medium"
                                        @click="handleEdit(task,scope.$index, scope.row)">编辑</el-button>
                                <el-button
                                        size="medium"
                                        type="danger"
                                        @click="handleDelete(task,scope.$index, scope.row)">删除</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <div  style="text-align: center"><el-button type="primary" plain @click="confModels(task)">添加模块</el-button></div>
                        </el-card>
                      </el-col>
                      <el-col :span="14">
                        <el-card>
                          <template>
                            <el-select v-model="task.registers"  multiple collapse-tags placeholder="请选择">
                              <el-option
                                      v-for="user in userData"
                                      :key="user.id"
                                      :value="user.id">
                                <span style="float: left">{{ user.id+"-" }}</span>
                                <span style="float: left">{{ user.nickname }}</span>
                                <span style="float: right; color: #8492a6; font-size: 13px">{{ user.workTime }}</span>
                              </el-option>
                            </el-select>
                          </template>
                          <el-table
                                  :data="task.registers"
                                  style="width: 100%"
                                  max-height="250">
                            <el-table-column
                                    fixed
                                    prop="id"
                                    label="id"
                                    width="40">
                              <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                  {{ scope.row}}
                                </div>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="nickname"
                                    label="昵称"
                                    width="80">
                              <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                  <el-tag size="medium">{{ findUserById(scope.row).nickname}}</el-tag>
                                </div>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="workTime"
                                    label="活跃时间"
                                    show-overflow-tooltip
                                    min-width="200">
                              <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                  <el-tag size="medium">{{ getTimeStrByBits(findUserById(scope.row).workTime)}}</el-tag>
                                </div>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="skillMap"
                                    label="技能水平"
                                    show-overflow-tooltip
                                    min-width="200">
                              <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                  <el-tag size="medium">{{ findUserById(scope.row).skillMap}}</el-tag>
                                </div>
                              </template>
                            </el-table-column>
                          </el-table>
                        </el-card>
                      </el-col>
                    </el-row>
                  </template>
                </el-card>
              <div style="text-align: center"><el-button type="primary" @click="post">开始分配</el-button></div>
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>分配结果</span>
                </div>
                <el-card  v-for="task in assignResult" class="box-card">
                  <div slot="header" class="clearfix">
                    <span>任务id:{{task.id}},任务阈值g={{task.g}}</span>
                  </div>
                  <div v-for="model in task.models" >
                    <el-card class="box-card">
                      <el-row :gutter="5">
                        <el-col :span="12">
                            <div>
                              模块{{model.id}}->难度:
                              <el-progress  :stroke-width="18"  status="text" :text-inside="true" :percentage="model.complexity*100">{{model.complexity}}</el-progress>
                            </div>
                            <div>
                              工人{{model.worker.id}}->能力:
                              <el-progress  :stroke-width="18"  status="text" :text-inside="true" :percentage="model.worker.skillMap[task.skill]*100" color="#f56c6c">{{model.worker.skillMap[task.skill]}}</el-progress>
                            </div>
                        </el-col>
                        <el-col :span="12">
                          <div>
                           活跃时间
                          </div>
                          <div style="margin-bottom: 5px;">
                            {{time2Str(getTime(model.worker.timeRangeInt.value))}}
                          </div>
                          <div>
                            <span v-for="n in 24">
                              <template v-if="getTime(model.worker.timeRangeInt.value).indexOf(n)!=-1">
                                      <div class="linear"></div>
                              </template>
                              <template v-else>
                                     <div class="block"></div>
                              </template>
                            </span>
                          </div>
                        </el-col>
                      </el-row>
                    </el-card>
                  </div>
                </el-card>
              </el-card>
      </el-row>
      <el-dialog :title="'为任务'+task.id+'添加模块'" :visible.sync="dialogFormVisible" width="500px">
        <el-form :model="model" label-width="90px" >
          <el-form-item label="模块id" >
            <el-input v-model="model.id" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="模块复杂度" >
            <el-input v-model="model.complexity" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="addModel">确 定</el-button>
        </div>
      </el-dialog>
      <el-dialog :title="task.isNew? '为新任务进行配置': ('为任务'+task.id+'进行配置')" :visible.sync="taskDialogFormVisible" width="500px">
        <el-form :model="task" label-width="150" >
          <el-form-item label="任务id" >
            <el-input :disabled="task.isNew? false:true" v-model="task.id" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="最小共有活跃时长" >
            <el-input v-model="task.g" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="开发语言" >
            <el-input v-model="task.skill" autocomplete="off" ></el-input>
          </el-form-item>
          <!--<el-form-item label="协同因子" >-->
            <!--<el-input v-model="task.alpha" autocomplete="off"></el-input>-->
          <!--</el-form-item>-->
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="taskDialogFormVisible = false">关闭</el-button>
          <el-button v-if="task.isNew? true:false" type="primary" @click="addTaskSubmit">确 定</el-button>
        </div>
      </el-dialog>
      <el-dialog title="添加工人信息" :visible.sync="workerDialogFormVisible" width="500px">
        <el-form :model="worker" label-width="150" >
          <el-form-item label="工人id" >
            <el-input v-model="worker.id" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="昵称" >
            <el-input v-model="worker.nickname" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="技能水平（json格式）" >
            <el-input v-model="worker.skillMap" autocomplete="off" ></el-input>
          </el-form-item>
          <el-form-item label="活跃时间(转化为整数)" >
            <el-input v-model="worker.workTime" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="workerDialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="addWorker">确 定</el-button>
        </div>
      </el-dialog>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>


  </div>
  <!--导航栏-->
  <div id="login">
    <xinhuo-navbar  @finishlogin="onGotToken" v-bind:active-index="1"></xinhuo-navbar>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <!-- app -->
  <script src="../js/navbarComponent.js"></script>
  <script src="../js/multiAssgin.js"></script>
</html>


