<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../../css/carousel.css" rel="stylesheet">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axios  -->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/index.js"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div id="app">
    <div  class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="index.html">首页</a></li>
                <li class="active"><a href="#about">接任务</a></li>
                <li><a href="#contact">找帮手</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <!--<li>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </li>-->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li v-if="token!=''"><a href="#about" @click="">{{username}}</a></li>
                <li v-if="token==''"><a href="#about" @click="dialogFormVisible = true">登陆</a></li>
                <li><a href="#contact" @click="token = '' ">注销</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <el-row  v-for="(o, index) in 10" :key="o" style="padding-bottom: 10px">
        <el-card :body-style="{ padding: '20px' }" shadow="hover">
          <!--<img src="http://element-cn.eleme.io/static/hamburger.50e4091.png" class="image">-->
          <div style="padding: 14px;">
            <span>好吃的汉堡</span>
            <div class="bottom clearfix">
              <time class="time">{{ username }}</time>
              <el-button type="text" class="button">操作按钮</el-button>
            </div>
          </div>
        </el-card>
      </el-row>

      <div class="center-block" style="text-align: center">
        <el-pagination
                background
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="10"
                layout="total, prev, pager, next"
                :total="1000">
        </el-pagination>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
    <el-dialog :visible.sync="dialogFormVisible" width="400px">
      <div class="form-signin" style="z-index: 2002">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input v-model="username"  id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" v-on:click="onSubmit()">Sign in</button>
      </div>
    </el-dialog>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<script>
		var app = new Vue({
		  el: '#app',
		  data: {
		    dialogFormVisible: false,
			username: '',
			password: '',
			loginLabel: '登陆',

			//登陆授权token
			token:'',
			loginData:'',
            //分页
            currentPage: 1,
            total: 100
		  },
		  methods: {
			  onSubmit() {
			  let that = this;
			  if(!$.trim(this.username)||!$.trim(this.password)){
			    return;
			  }
			  axios.post('http://localhost:8080/api/token', {
				username: this.username,
				password: this.password
			  })
			  .then(function (response) {
				console.log(response);
                  let data = response.data;
                  let msg = data.message;
                  let type = data.success? 'success':'error';
                  that.loginData = data.data;
                  if(that.loginData){
                      that.token = that.loginData.tokenCode;
                      that.dialogFormVisible = false;
                  }
                  that.$message({
                      message: msg,
                      type: type
                  });
			  })
			  .catch(function (error) {
				console.log(error);
				that.$message({
                      message: '网络错误！',
                      type: 'error'
                  });
			  });
			 },
              handleSizeChange(val) {
                  console.log(`每页 ${val} 条`);
              },
              handleCurrentChange(val) {
                  console.log(`当前页: ${val}`);
              }
		  }
		})
</script>

